name: sub_merge

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0,12 * * *"

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.x"

      - name: Set Timezone
        run: sudo timedatectl set-timezone 'Asia/Shanghai'

      - name: Install Requirements
        run: |
          pip install -r ./utils/requirements.txt

      - name: Running Tasks
        run: |
          python ./utils/list_merge.py

      - name: Commit and Push
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git add .
          # 核心修复：如果冲突，强制以本次运行生成的结果为准
          git commit -m "Auto Update Nodes" || exit 0
          git push origin master --force
