name: sub_merge

on:
  workflow_dispatch:
  push:
    branches:
      - master
  schedule:
    - cron: "0 0,12 * * *"

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.x"

      - name: Install Requirements
        run: |
          pip install -r ./utils/requirements.txt

      - name: Run Script
        run: |
          python ./utils/list_merge.py

      - name: Commit and Push
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git add .
          git commit -m "Auto Update Nodes" || exit 0
          git push origin master --force
